 <h1 style="text-align: center;margin-top: 30px;">Edit Profile</h1><br>

<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="Name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="First Name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="Contact">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="PAN">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="Account Number">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="IFSC">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<p >
  <mat-form-field appearance="outline">
    <input matInput placeholder="Address">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
  </mat-form-field>
</p>
<button   class="save" mat-button style="margin-left: 30px;">Update</button> 
 <button   mat-button style="margin-left: 30px;">close</button>
           
